---
postgres:
    host: 0.0.0.0
    port: 5432
    user: {{ pg_user }}
    password: {{ pg_password }}
    dbname: {{ pg_database }}
nats:
    host: 0.0.0.0
    port: 4222
    auth_token: "{{ lookup('password', '/tmp/ansible_nats_pwd') }}"
redis:
    host: 0.0.0.0
    port: 6379
    password: "{{ lookup('password', '/tmp/ansible_redis_pwd') }}"
