[Unit]
Description=nats service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nats-server -a 127.0.0.1 --auth "{{ lookup('password', '/tmp/ansible_nats_pwd length=15 chars=ascii_letters,digits,hexdigits,punctuation') }}"

[Install]
WantedBy=multi-user.target
